.nav-pills{
    .nav-link{
        font-size:14px;
        color:#A3A6B4;
        &.active{
            border-radius: 0;
            color: #2E384D;
            font-weight: 900;
            background: 0 0;
            border-bottom: 3px solid #054A29;
        }
    }
}