.richTextEditor {
    border: 1px solid #E0E7FF;
    border-radius: 0.25rem;
	.icon {
		font-size: 18px;
		vertical-align: text-bottom;
	}

	.button {
		cursor: pointer;
	}

	.menu {
		& > * {
			display: inline-block;
		  }
		
		  & > * + * {
			margin-left: 15px;
		  }
	}

	.toolbar {
		position: relative;
		padding: 10px 18px 10px;
		border-bottom: 1px solid #E0E7FF;
	}

	div[data-slate-editor="true"] {
		font-size: 0.9rem;
		min-height: 200px;
		padding: 20px 15px;
		background: rgba(224,231,255,.2);
	}
}