@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

.img-fluid{
    width:100%;
}

.breadcrumb {
	background-color: transparent;
	padding: .75rem 0rem;
}


