@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

$primary: #0BA93C;
$lightblue: #E0E7FF;
$lightgray: #8798AD;
$aqua: #00F0F1;


/* Colors */
$primary-light:darken($primary, 6%);
$primary-dark: lighten($primary, 6%);

$secondary: #6290C3;
$third: #6290C3;

$error: #F50000;
$red : #F50000;
$white: #ffffff;
$blue : #0BA93C;
$light-purple: #5352F6;
$purple: #3130D4;
$light-gray: #FDFDFD;

$dark-gray: #969696;
$medium-gray: #848484;
$black: #313131;


$light-light-gray:#eeedf2;
$text-color:#6f7287;
$border-input-color:#dbdae3;

$footer-color:#313131;
$input-label-color:#495057;